* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-image: url('./assets/map.svg');
  background-size:cover;
  color: white;
}
.main {
  display: flex;
  flex-direction: column;
}
.searchbox {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 1em;
  gap: 1em;
}
.searchbox label {
  font-weight: bold;
  font-size: 2em;
}
.searchbox input {
  border: 3px solid rgba(128, 128, 128, 0.792);
  outline: none;
  padding: 1em;
  border-radius: 0.5em;
  font-weight: bold;
  transition: all 500ms;
}
.searchbox input:focus {
  border: 3px solid black;
}
.results {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.results ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: rgba(128, 128, 128, 0.499);
  border: 2px solid black;
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px 1px;
  backdrop-filter: blur(3px);
}
.results ul button {
  padding: 1em;
  transition: all 300ms;
  color: white;
  border: none;
  color: black;
  border-radius: 0.5em;
  font-weight: bold;
  border: 3px solid transparent;
}
.results button:hover {
  background-color: orange;
  border: 3px solid black;
  cursor: pointer;
}
.results li {
  list-style: none;
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 1em;
  padding: 1em;
}
.results .name {
  width: 200px;
}
.results .button {
  width: 200px;
  text-align: right;
}
.detailedCountry {
  padding: 3em;
  display: flex;
  flex-direction: row;
  gap: 3em;
  place-items: center;
}
.detailedCountry ul {
  background: none;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.detailedCountry img {
  width: 20%;
}
.principalInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5em;
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 0.5em;
  background: rgba(128, 128, 128, 0.499);
  backdrop-filter: blur(3px);
  box-shadow: 1px 1px 10px;
  margin-bottom: 0.5em;
}
.principalInfo img {
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px 1px;
  border: 2px solid black;
}
.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(128, 128, 128, 0.499);
  backdrop-filter: blur(3px);
  box-shadow: 1px 1px 10px;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.languages h2 {
  text-align: center;
}
.languages ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.weather {
  display: flex;
  flex-direction: column;
  place-items: center;
  background: rgba(128, 128, 128, 0.499);
  backdrop-filter: blur(3px);
  box-shadow: 1px 1px 10px;
  padding: 1em;
  border: 2px solid black;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.weather img {
  width: 50%;
}
